@import url("https://rsms.me/inter/inter.css");
$body-font-family: "Inter", sans-serif;
$heading-font-family: "Inter", sans-serif;
@supports (font-variation-settings: normal) {
  $body-font-family: "Inter var", sans-serif;
  $heading-font-family: "Inter var", sans-serif;
}

@import "~vuetify/src/styles/main";

.theme--light.v-divider {
  border-width: thin;
  border-color: rgba(0,0,0,0.4);
}

.theme--light.v-timeline:before {
  background: rgba(0,0,0,0.2);
}
