$body-font-family: "Inter", "Roboto", sans-serif;
$heading-font-family: "Inter", "Roboto", sans-serif;
@supports (font-variation-settings: normal) {
  $body-font-family: "Inter var", "Roboto", sans-serif;
  $heading-font-family: "Inter var", "Roboto", sans-serif;
}

$fa-font-display: block;
