.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, Meiryo, sans-serif;
    text-transform: none;
}

.reveal h6 {
     font-size: 24px;
}

.reveal .slides {
    font-size: 0.82em;
}
