@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@layer base {
  html {
    font-family: "Inter", "BIZ UDGothic", sans-serif;

    font-size: 0.8em;
    @variant sm {
      font-size: 1em;
    }
  }
}

@layer utilities {
  * {
    --color-base-content: var(--color-zinc-700);
    --color-base-100: var(--color-zinc-50);
    --color-base-200: var(--color-zinc-100);
    --color-base-300: var(--color-zinc-200);

    --tw-prose-headings: var(--color-zinc-700);
    --tw-prose-links: var(--color-zinc-800);
  }
  body {
    @apply bg-zinc-100;
    min-height: 100vh;
  }

  .prose {
    ul {
      padding-inline-start: 1.3em !important;
      li {
        padding-left: 0.1em;
        ul {
          margin-top: 0.1em;
          margin-bottom: 0.1em;
        }
      }
    }
  }
}

@layer components {
  .spinner {
    transform-origin: 50% 50%;
    animation: turn120 12s infinite;
    animation-timing-function: cubic-bezier(0.8, 0, 0.4, 1.2);
  }

  @keyframes turn120 {
    0%,
    12.5% {
      transform: rotate(0deg);
    }
    33.333% {
      transform: rotate(120deg);
    }

    33.333%,
    45.833% {
      transform: rotate(120deg);
    }
    66.666% {
      transform: rotate(240deg);
    }

    66.666%,
    79.166% {
      transform: rotate(240deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
